@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
 font-family: "Work Sans", sans-serif;
  width: 100%; 
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #292949;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
}
header .logo{
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.logo span{
  border-radius: 50%;
  background: #A53DFF;
  color: white;
  font-size: 45px;
}
.navbar {
  display: flex;
  gap: 15px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.navbar a:hover {
  background-color: #ffffff;
  color: #1e1e2f;
}
a.btn.light{
  background: #A53DFF;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
/* hero section */
.hero-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  padding-top: 100px;
  max-width: 100%;
}
.hero-container .hero-text  {
  width: 648px;
  height: 336px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-container .hero-text h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #132238;
}
.hero-container .hero-text p.subtitle{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #556070;
}
a.btn.dark{
  background: #A53DFF;
  color: #ffffff;
  width: 126px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
}
.hero-container .hero-image img {
  width: 536px;
  height: 636px;
  top: 222px;
  left: 1084px;
  border-radius: 25px;
  opacity: 1;
}
/* Stats Section */
.stats-wrapper {
  width: 648px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3b82f6; /* blueish border */
  color: #d984dd ;
  border-radius: 8px;
  overflow: hidden;
  max-width: 700px;
}
.stat {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  position: relative;
  background-color: #EDD8FF80;
}
.stat h3 {
  font-size: 1.75rem;
  color: #111827;
  margin-bottom: 6px;
}
.stat p {
  font-size: 0.875rem;
  color: #6b7280;
}
/* Vertical lines between stats */
.stat:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 15%;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
}
/* about section */
.about{
  height: 528px;
  max-width:1260px; 
  margin:auto;
  padding: 50px 5%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #ffffff;
}
.about-img img{
  width: 320px;
  border-radius: 12px;
}
.about-text{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-text h4{
  font-size: 1.75rem;
  color: #111827;
  margin-bottom: 6px;
}
.about-text p{
  font-size: 25px;
  color: #6b7280;
}
.about-btn .btn{
  background: #A53DFF;
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;  
}
.about-btn .btn-d{
  background: #ffffff;
  color: #A53DFF;
  width: auto;
  height: auto;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #A53DFF;
}
/* work process */
.work-process{
  height: 600px;
  max-width:1260px; 
  margin:auto;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 50px;
}
.work-text{
  height: 240px;
  width: 529px;
  row-gap: 20px;
  line-height: 30px;
}
.process-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
  max-width: 700px;
  width: 100%;
}
.card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  transition: transform 0.2s ease;
  flex-direction: column;
}
.card h3 {
  color: #6c5ce7;
  margin-bottom: 10px;
  margin: 0;
  font-size: 18px;
}
.card i{
  background: #f3e8ff;
  color: #8b5cf6;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  min-width: 50px;
}
.card p {
  margin: 8px 0 0;
  color: #555;
  font-size: 14px;
  line-height: 1.5;  
}
/* protfolio */
.portfolio{
  width: 100%;
  padding: 20px 5%;
  background-color: #e2e5ea;
  overflow: hidden;
}
.project{
  max-width: 100%;
  max-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
}
.p-text p, .p-text h2{
  text-align: center;
  padding: 5px;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.portfolio-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio-card1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
  flex-wrap: wrap;
}
.pcard1{
  height: 476px;
  width: 424px;
  padding-bottom: 30px;
  background-color: rgb(248, 228, 228);
}
.port-img{
  width: 424px;
  height: 248px;
  border-radius: 20px;
  padding: 5px;
}
.port-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
}
.port-text{
  width: 424px;
  height: 248px;
  padding: 10px 30px  0px 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.port-text h4, p  {
  padding-bottom: 5px;
}
.port-btn{
  background: #ffffff;
  color: #A53DFF;
  width: 126px;
  height: 88px;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #A53DFF;
  border-radius: 5px;
}
.portfolio-card2{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 padding: 0;
 flex-wrap: wrap;
}
/* project idea */
.projcet-idea{
  width: auto;
  height: 472px;
  background-color: #132238;
}
.project-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  gap: 30px;
}
.project-text h1{
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 56px;
  color: #FFFFFF;
}
.project-text p{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #A5ACB5;
}
.project-text button{
  width: 240px;
  height: 48px;
  padding: 12px 24px;
  background-color:  #A53DFF;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}
.Blog{
  max-width: 100%; 
  margin: auto;
  background-color:rgb(246, 213, 242) ;
}
.blog-sec{
  max-width: 100%;
  margin:auto;
  padding: 80px 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid yellow;
}
.blog-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.blog-text h1{
  font-weight: 600px;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}
.blog-text p{
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #87909D;
  text-align: center;
}
.blog-card{
  width: 100%;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.bcard{
  width: 312px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #FFFFFF;
  border: 1px;
  border-radius: 8px;
}
.blog-img{
  width: 100%;
  height: 226px;
  color: #C4C4C4;
}
.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.blog-img-text{
  width: 264px;
  height: 200px;
}
.blog-img-text h4{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding-top: 5px;
}
.blog-img-text p{
  font-size: 14px;
  font-weight: 400;
  color:#87909D ;
}
/* <!-- What I do --> */
.ido{
  max-width: 100%; 
  margin: auto;
  background-color: #F0F1F3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 5%;
  overflow: hidden;
  gap: 143px;
}
.do{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.do h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}
.do p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #87909D;
}
.do button{
  width: 126px;
  height: 48px;
  border-radius: 4px;
  pad: 12px 24px 12px 24px;
  background-color:  #A53DFF;
  color: white;
}
.user{
  Width :648px;
  Height :576px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.User-card{
  Width :648px;
  Height :176px;
  padding: 32px;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.User-card h4{
  width :584px;
  height :24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #132238;
}
.User-card p{
  Width :584px;
  Height :72px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #424E60;
}
/* <!-- happy-clients secction --> */
.happy-clients{
  max-width: 100%; 
  margin: auto;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 5%;
  overflow: hidden;
  gap: 24px;
}
.clients-text{
  width: 577px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.clients-text h1{
  Width :327px;
  Height :56px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}
.clients-text p{
  Width :577px;
  Height :48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #87909D;
}
.band-name{
  width: 1320px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-img{
  width: 200px;
  height: 200px;
}
.brand-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* <!-- testimonial section --> */
.testimonial{
  max-width: 100%; 
  margin: auto;
  height: 534px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}
.texti{
  width:  577px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.texti h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #132238;
}
.texti p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #87909D;
}
.texti-text{
 width: 872px;
 height: 178px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 24px;
}
.texti-text p{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2B384C;
}
.texti-comp{
  width: 268px;
  height: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.texti-comp h5{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.texti-comp p{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
/* <!-- let's discuss your Project --> */
.Contact{
  max-width: 100%;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: #FFFFFF;
  gap: 100px;
}
.discuss-pro{
  width: 481px;
  height: 544px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.dis-text{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.dis-text h2{
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #132238;
}
.dis-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #87909D;
}
.dis-info-card{
  width: 336px;
  height: 90px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.dis-info-card-img{
  width: 24px;
  height: 24px;
}
.dis-info-card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-media{
  width: 288px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;  
}
.icon{
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  color: #7b61ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.icon.active {
  background-color: #7b61ff;
  color: white;
  box-shadow: 0 0 30px rgba(123, 97, 255, 0.2);
}
.user-info{
  width: 560px;
  height: 492px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.user-info-text p{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #87909D;
}
.user-info-form{
  width: 560px;
  height: 394px;
}
label {
  display: block;
  margin: 10px 0 5px;
  font-size: 18px;
  color: #3f3e3e;
}
input, textarea {
  width: 100%;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
  color: #3f3d3d;
  font-size: 18px;
  outline: none;
}
input:focus, textarea:focus {
   border-bottom: 1px solid #a855f7; /* purple */
}
.row {
  display: flex;
  gap: 15px;
}
.row .input-group {
  flex: 1;
}
button {
  margin-top: 10px;
  background: #a855f7;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
button:hover {
  background: #9333ea;
}
button::after {
  content: "➤";
  font-size: 14px;
}
.last-sec{
  max-width: 100%;
  margin: auto;
  height: 990px;
  padding: 100px 5%;
}
/* footer */
footer{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 5%;
 background-color: #2B384C;
 height: 150px;
 max-width: 100%;
 margin: auto;
 bottom: 0;
}
footer .logo{
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}
footer span{
    font-size: 16px;
    text-decoration: none;
    color: #F0F1F3;
}
/* Make it Responsive */
@media (max-width : 480px) {
  header {
    /* flex-direction: column; */
    align-items: flex-start;
    align-items: center;
    gap: 10px;
    max-width: 100%;
  }

  .logo {
    font-size: 20px;
  }
  a.btn.light{
    padding: 10px 20px;
    border-radius: 10px;
  }

  .hamburger {
    display: block;
  }
    .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    margin-top: 10px;
    text-align: center;
  }

  .navbar.show {
    display: flex;
  }

  .navbar a {
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid #444;
  }

  /* hero section */
  .hero-container{
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
    height: 100% ;
    max-height: 80%;
    border: 2px solid red;
    margin-top: 80px;
  }
  .hero-container .hero-text{
    max-width: 100%;
    margin: 2px;
    flex-wrap: column;
    height: auto;
  }
  a.btn.dark{
    border-radius: 15px;
  }
  .stats-wrapper{
    max-width: 100%;
  }
  .hero-container .hero-text h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .hero-container .hero-text p.subtitle {
    font-size: 16px;
  }
  .about{
    max-width: 100%;
    flex-direction: column;
    height: 100%;
  }
  .work-process{
    max-width: 100%;
    flex-direction: column;
    height: auto;
    margin: 10px 0 10px 0;
  }
  .work-text{
    max-width: 100%;
    text-align: center;
    margin: 10px;
  }
  .portfolio{
    max-width: 100%;
    margin: 5px;
  }
  .projcet-idea{
    max-width: 100%;
    height: auto;
  }
  .project-text{
    max-width: 100%;
    height: auto;
    margin: 50px 0;
    gap: 20px;
    text-align: center;
  }
  .project-text h1{
    width: 100%;
    height: auto;
    font-size: 28px;
    line-height: 36px;
    padding: 0 10px;
  }
  .project-text button {
    width: 100%;
    max-width: 230px;
    height: 44px;
    font-size: 16px;
  }

  /* <!-- What I do --> */
  .ido{
    max-width: 100%;
    height: auto;
    flex-direction: column;
    gap: 50px;
  }
  .user{
    max-width: 100%;
    height: auto;
  }
  .User-card{
    max-width: 100%;
    height: auto;
  }
  .User-card h4{
    width: 100%;
    font-size: 22px;
    height: auto;
  }
  .User-card p{
    width: 100%;
    height: auto;
  }

  /* <!-- happy-clients secction --> */
  .happy-clients{
    max-width: 100%;
    height: auto;
  }
  .clients-text{
    width: 100%;
  }
  .clients-text h1{
    width: 100%;
  }
  .clients-text p{
    width: 100%;
    font-size: 25px ;
  }
  .band-name{
    width: 100%;
    height: auto;
    flex-direction:column ;
    gap: 10px;
  }
  
  /* <!-- testimonial section --> */
  .testimonial{
    width: 100%;
    height: auto;
  }
  .texti{
    width: 100%;
    text-align: center;
    gap: 16px;
    height: auto;
  }
  .texti h1{
    width: 100%;
  }
  .texti p{
    width: 100%;
  }
  .texti-text{
    width: 100%;
    height: auto;
    gap: 16px;
    padding: 0 10px;
  }
  .texti-text h1{
    width: 100%;
  }
  .texti-text p{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .texti-comp{
    width: 100%;
    height: auto;
    gap: 8px;
  }
  .texti-comp h5 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .texti-comp p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .Contact{
    width: 100%;
    flex-wrap: wrap;
    max-height: 80%;
    margin-bottom: 20px;
  }
  .discuss-pro{
    width: 100%;
  }
  .dis-text h2,.dis-text p{
    width: 100%;
  }
  .user-info{
    width: 100%;
    gap: 10px
    ;
  }
  .user-info-text p{
    width: 100%;
  }
  .user-info-form{
    width: 100%;
  }
  footer{
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
/* RESPONSIVE NAV */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}